.container {
  min-height: 100vh;
}
.header {
  flex: 0 0 auto;
  width: auto;
  margin: 32px;
  display: flex;
  padding: 8px 32px;
  align-items: center;
  justify-content: space-between;
  background-color: #1f1f1f;
  color: white;
  border-radius: 8px;
}
.image {
  width: 50px;
  object-fit: cover;
}
.nav {
  gap: 16px;
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.nav h1:hover {
  border: 2px solid white;
  border-radius: 4px;
  width: 60px;
  text-align: center;
}
.main {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: 32px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  gap: 16px;
}
.main:hover .profile {
  border: 5px solid rgb(0, 0, 0);
}

.main h1 {
  font-size: larger;
  font-weight: bold;
}
.tech {
  gap: 16px;
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: 32px;
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  flex-direction: column;
}
.profile {
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.3);
  width: 200px;
  height: auto;
}
.tools {
  display: flex;
  gap: 16px;
}
.footer {
  border: 2px solid rgba(0, 0, 0, 0.3);
  margin: 32px;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.contact {
  display: flex;
  gap: 16px;
}
.icon-contact {
  width: 30px;
  height: auto;
}
.icon-tech {
  width: 30px;
  height: auto;
}
.main-experience {
  margin: 32px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 16px;
  border-radius: 8px;
}
.main-experience h2 {
  text-align: center;
  margin-bottom: 8px;
}
.experience {
  margin: 16px 0;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 16px;
}
.experience:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.duration {
  font-weight: bold;
}
.quotes {
  font-size: 24px;
  font-style: italic;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .header {
    margin: 16px;
  }
  .main {
    margin: 16px;
    text-align: center;
  }
  .profile {
    width: 150px;
  }
  .tech {
    padding: 16px 8px;
    margin: 16px;
  }
  .main-experience {
    margin: 16px;
  }
  .footer {
    margin: 16px;
  }
}
