.container {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #DDDDDD;
  color: #222831;
}
.header {
  height: 4rem;
  display: flex;
  padding: 8px 32px;
  align-items: center;
  background-color: #222831;
  color: white;
  width: auto;
}
.image {
  width: 50px;
  object-fit: cover;
}
.nav {
  gap: 32px;
  display: flex;
}
.nav h1:hover {
  text-decoration: underline;
}
.main {
  height: auto;
  margin: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  border: 2px solid #222831;
  gap: 16px;
}
.main:hover .profile {
  border: 5px solid #F05454;
}

.main h1 {
  font-size: larger;
  font-weight: bold;
}
.tech {
  gap: 16px;
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: 32px;
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: center;
  border: 2px solid #222831;
  flex-direction: column;
}
.profile {
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.3);
  width: 200px;
  height: auto;
}
.tools {
  display: flex;
  gap: 16px;
}
.footer {
  border: 2px solid #222831;
  padding: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #222831;
  color: #DDDDDD;
}
.footer a {
  color: #F05454;
}
.contact {
  display: flex;
  gap: 16px;
}
.icon-contact {
  width: 30px;
  height: auto;
}
.icon-tech {
  width: 30px;
  height: auto;
}
.main-experience {
  margin: 32px;
  border: 2px solid #222831;
  padding: 16px;
}
.main-experience h2 {
  text-align: center;
  margin-bottom: 8px;
}
.experience {
  margin: 16px 0;
  border: 2px solid #222831;
  padding: 16px;
}
.experience:hover {
  background-color: #30475E;
  color: white;
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.duration {
  font-weight: bold;
}
.quotes {
  font-size: 24px;
  font-style: italic;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  height: auto;
  width: 100%;
  text-align: center;
}
.underline {
  text-decoration: underline;
}
.list-apps {
  border: 2px solid #222831;
  width: 300px;
  height: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-apps {
  height: auto;
  margin: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  gap: 16px;
}
.main-apps h1 {
  font-size: 24px;
  font-weight: bold;
}
.list-apps:hover {
  border: 2px solid #F05454;
  cursor: pointer;
}
.header-nav {
  width: 100%;
}
.main-github {
  height: auto;
  margin: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  padding: 32px;
  gap: 16px;
}
.container-github{
  display: flex;
  gap: 16px;
}

.box-github:hover {
  border: 2px solid #F05454;
  cursor: pointer;
}
.box-github {
  width: auto;
  border: 2px solid #222831;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.box-github h3{
  font-weight: bold;
}

@media (max-width: 500px) {
  .header {
    margin: 16px;
    width: auto;
  }
  .main {
    margin: 16px;
    text-align: center;
  }
  .main-apps {
    flex-direction: column;
  }
  .profile {
    width: 150px;
  }
  .tech {
    padding: 16px 8px;
    margin: 16px;
  }
  .main-experience {
    margin: 16px;
  }
  .footer {
    margin: 16px;
  }
  .list-apps {
    width: 100%;
  }
}
